Mission Guac Party!

<form action="/" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  Guacamole<input type="checkbox" name="guac">
  Beer<input type="checkbox" name="beer">
  Other<input type="checkbox" name="other">
  <input type="submit" value="Party on!">
</form>
