Mission Guac Party!

<form action="/" method="post">
  <input type="text" name="name">
  <input type="text" name="email">
  <input type='checkbox' name="guac">
  <input type='checkbox' name="beer">
  <input type='checkbox' name="other">
  <input type="submit" value="Submit">
</form>
