<h1 class="cover-heading">Mission Guac Party!</h1>
<dl class="dl-horizontal">
  <dt class="invitation-side">About</dt>
  <dd class="invitation-body">
    Mission Guac Party is a party that will be showcasing the best Guacamoles that the city has to offer! The winner to be crowned with the guacamole glory trophy, bragging rights for forever, the title of official "Guacamole of San Francisco", and a secret mystery prize!
  </dd>

  <dt class="invitation-side">Rules</dt>
  <dd class="invitation-body">
    Entry into the competition is free<br>
    Your guacamole must use at least 6 avocados<br>
    You must fairly judge the Guacamoles presented
  </dd>

  <dt class="invitation-side">Prizes</dt>
  <dd class="invitation-body">
    Add some prizes here later
  </dd>

  <dt class="invitation-side">Location</dt>
  <dd class="invitation-body">
    Saturday, Sept 13th, 2013<br>
    SOMEWHERE AWESOME<br>
    2pm - until the last chip is eaten
  </dd>
</dl>

<form class="form-horizontal lead" role="form" action="/" method="post">
  <div class="form-group">
    <div class="col-sm-6 col-centered">
      <input class="form-control" type="text" name="name" placeholder="Guacamole Champ" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-centered">
      <input class="form-control" type="text" name="email" placeholder="guac-lover@gmail.com" required>
    </div>
  </div>
  <div class="form-group">
    <label class="checkbox-inline" for="guac">
      <input type="checkbox" value="true" name="guac">Guac
    </label>
    <label class="checkbox-inline" for="beer">
      <input type="checkbox" value="true" name="beer">Beer
    </label>
    <label class="checkbox-inline" for="other">
      <input type="checkbox" value="true" name="other">Other
    </label>
  </div>
  <button type="submit" class="btn btn-lg btn-success">See ya at the guacamole party!</button>
</form>
