<h1>Welcome to the guacamole life!</h1>
<p>We're excited you're coming! Please, feel free to invite friends, lovers, pets, and cousins!</p>
<p>We'll send you over an email later this week with the location and such.</p>
<p>Feel free to share this on Twitter, I mean, who doesn't love a guacamole party!?</p>
